{% extends 'base.html' %}


{% block content %}
<h1 class="display-3 text-light ">Global Information</h1>
<div class="card text-white mb-3" style="background-color: rgb(23, 23, 24);">
    <div class="card-body">
        <p style="color: #A0A0A0;">Global</p>
        <div class="h5">Coronavirus cases:</div>
        <p class="h3" style="color: #A0A0A0;">{{ api.cases }}
        </p>
    </div>
</div>


<div class="card text-white mb-3" style="background-color: rgb(23, 23, 24);">
    <div class="card-body">
        <p style="color: #A0A0A0;">Global</p>
        <div class="h5">Deaths Cases:</div>
        <p class="h3" style="color: #A0A0A0;">{{ api.deaths }}

        </p>
    </div>
</div>

<div class="card text-white mb-3" style="background-color: rgb(23, 23, 24);">
    <div class="card-body">
        <p style="color: #A0A0A0;">Global</p>
        <div class="h5">Recovered Cases: </div>
        <p class="h3" style="color: #A0A0A0;"> {{ api.recovered}}</p>
    </div>
</div>




{% endblock %}